<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>

{% extends 'base.html' %}
{% block content %}
     <div class="form-group">
            <h1> About Me </h1>
     </div>
<!--    <img class="top-cloud" src="images/cloud.png" alt="cloud-img">-->
    <p> Hello and welcome to my beautiful mess of creative madness.
        This is a blog created by Olivia Akabogu, a student of AltSchool Africa studying Backend Engineering.
    </p>

</body>
</html>

{% endblock content %}
